@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Sanchez&display=swap');
:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color: #305578;
    --body-color: #36454F;
    --heading-color: #ABA9E8;
    --contrast-color: #0C80EB;
    --subheading-color: #B1C0F2 ;
}


body#about img {
    height: 15em;
    display: inline;
    margin-right: var(--horizontal-space);
    border: 3px solid var(--heading-color);
    box-shadow: 7px 8px 7px -1px rgba(0,0,0,0.64);
}

p {
    max-width: 50em;
}

body {
    /* padding-left: 4em; */
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");
    color: var(--body-color);
    max-width: 50em;
}

main{
    color: var(--light-color)
}

/* header h1, nav, nav a {
    color: var(--light-color);
} */

h1, h2, h3{
    line-height: 1.2em;
    font-family: 'Sanchez', serif;
}

header h1{
    color: var(--light-color);
}

h1{
    color: var(--subheading-color);
}

h2 h3{
    color: var(--heading-color);
}



a{
    color: var(--body-color);
    text-decoration-color: var(--contrast-color);
}

a:hover{
    color: var(--contrast-color)
}

body {
    display: grid;
    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "foot foot";
    grid-template-columns: auto 4fr;
    grid-template-rows: auto auto 1fr auto;   
}

@media screen and (min-width: 25em){
    body{
        grid-template-areas: "head nav"
                         "main main"
                         "foot foot";
        grid-template-rows: auto 1fr auto;   
                 
    }

    body#about img {
        float: left;
        margin-bottom: var(--vertical-space);

    }


    body > nav{
        grid-area: nav;
        padding-top: var(--vertical-space);
    }

    body > nav ul{
        float: right;
    }    
}

body > *{
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body > header{
    grid-area: head;
}
body > nav{
    grid-area: nav;
}

body > main > *:first-child:before{
    content: "";
    display: block;
    border-top: 2px solid var(--subheading-color);
    padding-top: var(--vertical-space);
}

body > main{
    grid-area: main;
    max-width: 50rem;
    padding-top: var(--vertical-space);
 }

body > nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 2.4;
}

body > nav ul li{
    display: inline-block;
    padding-right: 1rem;
}

body > footer{
    grid-area: foot;

}

header, footer{
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);

}

header{
    padding-bottom: 0;
}

header h1, footer h1{
    margin: 0;
}


body#portfolio ul#portfolioItems{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}
@media screen and (min-width: 25em){
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio img {
    height: 10em;
    display: inline;
    border: 3px solid var(--heading-color);
    /* max-width: 100%; */
    margin-left: -0.66em;
}

#topButton{
    background-color: var(--contrast-color);
    color: white;
}

/* body#portfolio ul#portfolioItems li img{
    max-width: 100%;
} */